#creditCalc.mainPage.container(v-if='activePage == 1')
  #webView.hidden-xs.hidden-sm.col-md-12
    .col-md-6
      .block-profile
        p 
          | 姓名
          span  {{ studentName }}
        p 
          | 學號
          span  {{ studentId }}
        p 
          | 科系
          span  {{ studentDept }}
    .col-md-6
      #totBlock.block-calc
        .block-img(type='tot')
        .block-info
          h2.block-title 總學分
          .credit-block
            | {{ totCredit }}
            | /
            | {{ totNeedCredit }}
          .credit-progress
            .progressbar(v-bind:style="{ width: totPersent }")
    .col-md-6
      #majorBlock.block-calc
        .block-img(type='major')
        .block-info
          h2.block-title 必修
          .credit-block
            | {{ thresholdInfo.major.credit }}
            | /
            | {{ thresholdInfo.major.needCredit }}
          .credit-progress
            .progressbar(v-bind:style='{ width: majorPersent }')
    .col-md-6
      #electiveBlock.block-calc
        .block-img(type='elective')
        .block-info
          h2.block-title 選修
          .credit-block
            | {{ thresholdInfo.elective.credit }}
            | /
            | {{ thresholdInfo.elective.needCredit }}
          .credit-progress
            .progressbar(v-bind:style='{ width: electivePersent }')
    .col-md-6
      #generalBlock.block-calc
        .block-img(type='general')
        .block-info
          h2.block-title 通識
          .credit-block
            | {{ thresholdInfo.general.credit }}
            | /
            | {{ thresholdInfo.general.needCredit }}
          .credit-progress
            .progressbar(v-bind:style='{ width: generalPersent }')
    .col-md-6
      #sportBlock.block-calc
        .block-img(type='sport')
        .block-info
          h2.block-title 體育
          .credit-block
            | {{ thresholdInfo.sport.credit }}
            | /
            | {{ thresholdInfo.sport.needCredit }}
          .credit-progress
            .progressbar(v-bind:style='{ width: sportPersent }')
    .col-md-6
      #otherBlock.block-calc
        .block-img(type='other')
        .block-info
          h2.block-title 其他
          .credit-block
            | {{ thresholdInfo.other.credit }} 學分
    .col-md-6
      #serviceBlock.block-calc
        .block-img(type='service')
        .block-info
          h2.block-title 服務學習
          .credit-block
            | {{ serviceGap }}
    .col-md-6
      #englishBlock.block-calc
        .block-img(type='english')
        .block-info
          h2.block-title 英文能力檢定
          .credit-block
            | {{ englishGap }}

  #tot.col-sm-12.hidden-md.hidden-lg.block-calc(v-on:click='switchPage(2)')
    .circle-progress
    .calc
      | {{ totCredit }}
      | /
      | {{ totNeedCredit }}
    .category 總學分
  table.hidden-md.hidden-lg
    tr
      td#major.block-calc(v-on:click='showList("major")')
        .circle-progress
        .calc
          | {{ thresholdInfo.major.credit }}
          | /
          | {{ thresholdInfo.major.needCredit }}
        i.editNeed.fa.fa-fw.fa-pencil(v-on:click='editNeedCrredit("必修", $event)')
        .category 必修
      td#elective.block-calc(v-on:click='showList("elective")')
        .circle-progress
        .calc
          | {{ thresholdInfo.elective.credit }}
          | /
          | {{ thresholdInfo.elective.needCredit }}
        i.editNeed.fa.fa-fw.fa-pencil(v-on:click='editNeedCrredit("選修", $event)')
        .category 選修
    tr
      td#general.block-calc(v-on:click='showList("general")')
        .circle-progress
        .calc
          | {{ thresholdInfo.general.credit }}
          | /
          | {{ thresholdInfo.general.needCredit }}
        .category 通識
      td#sport.block-calc(v-on:click='showList("sport")')
        .circle-progress
        .calc
          | {{ thresholdInfo.sport.credit }}
          | /
          | {{ thresholdInfo.sport.needCredit }}
        .category 體育
  #other.col-sm-12.hidden-md.hidden-lg.block-calc
    .col-sm-7 其他課程
    .col-sm-5
      p
        | {{ thresholdInfo.other.credit }}
        | 學分
  #service.col-sm-12.hidden-md.hidden-lg.block-calc
    .col-sm-7 服務學習
    .col-sm-5
      p {{ serviceGap }}
  #english.col-sm-12.hidden-md.hidden-lg.block-calc
    .col-sm-7 英文能力檢定
    .col-sm-5
      p {{ englishGap }}
