#list.mainPage.container(v-if='activePage == 2')
  div(v-for='(iv, years) in creditSummary')
    .row.yaerTitle
      .col-xs-7
        h2.year(v-bind:id='years') {{ years }} 學期
      .col-xs-5
        h2.creditRatio
          | {{ iv['getCredits'] }}
          | /
          | {{ iv['credits'] }}
    ul
      li(v-for='(courseData, jk) in iv["total"]', v-bind:class='{ notpass: courseData["成績"] < 60 }', v-on:click='getCourseInfo(courseData)')
        .list-text
          p.title {{ courseData['課程名稱'] }}
          p.subject {{ courseData['所屬項目'] }}
        .list-credit
          p.credit {{ courseData['畢業學分'] }}
        .list-icon
          p.fa.fa-search