#creditCalc.mainPage.container(v-if='activePage === 1')
  #webView.hidden-xs.hidden-12
    .col-sm-6
      .block-calc
        .block-img(type='profile')
        .block-info
          p 
            | 姓名
            span {{ studentName }}
          p 
            | 學號
            span {{ studentId }}
          p 
            | 科系
            span {{ studentDept }}
    .col-sm-6
      #totBlock.block-calc(@click='showCourseList()')
        .block-img(type='tot')
        .block-info
          h2.block-title 總學分
          .credit-block
            | {{ totCredit }}
            | /
            | {{ totNeedCredit }}
          .credit-progress
            .progressbar(:style="{ width: totPersent }")
    .col-sm-6
      #majorBlock.block-calc(@click='showCourseType("major")')
        .block-img(type='major')
        .block-info
          h2.block-title 必修
          .credit-block
            | {{ thresholdInfo.major.credit }}
            | /
            | {{ thresholdInfo.major.needCredit }}
          .credit-progress
            .progressbar(:style='{ width: majorPersent }')
        i.editNeed.fa.fa-fw.fa-pencil(@click='editNeedCredit("必修", $event)')
    .col-sm-6
      #electiveBlock.block-calc(@click='showCourseType("elective")')
        .block-img(type='elective')
        .block-info
          h2.block-title 選修
          .credit-block
            | {{ thresholdInfo.elective.credit }}
            | /
            | {{ thresholdInfo.elective.needCredit }}
          .credit-progress
            .progressbar(:style='{ width: electivePersent }')
        i.editNeed.fa.fa-fw.fa-pencil(@click='editNeedCredit("選修", $event)')
    .col-sm-6
      #generalBlock.block-calc(@click='showCourseType("general")')
        .block-img(type='general')
        .block-info
          h2.block-title 通識
          .credit-block
            | {{ thresholdInfo.general.credit }}
            | /
            | {{ thresholdInfo.general.needCredit }}
          .credit-progress
            .progressbar(:style='{ width: generalPersent }')
        i.editNeed.fa.fa-fw.fa-pencil(@click='editNeedCredit("通識", $event)')
    .col-sm-6
      #sportBlock.block-calc(@click='showCourseType("sport")')
        .block-img(type='sport')
        .block-info
          h2.block-title 體育
          .credit-block
            | {{ thresholdInfo.sport.credit }}
            | /
            | {{ thresholdInfo.sport.needCredit }}
          .credit-progress
            .progressbar(:style='{ width: sportPersent }')
    .col-sm-6
      #otherBlock.block-calc(@click='showCourseType("other")')
        .block-img(type='other')
        .block-info
          h2.block-title 其他
          .credit-block
            | {{ thresholdInfo.other.credit }} 學分
    .col-sm-6
      #serviceBlock.block-calc
        .block-img(type='service')
        .block-info
          h2.block-title 服務學習
          .credit-block
            | {{ serviceGap }}
    .col-sm-6
      #englishBlock.block-calc
        .block-img(type='english')
        .block-info
          h2.block-title 英文能力檢定
          .credit-block
            | {{ englishGap }}

  #tot.col-xs-12.hidden-sm.hidden-md.hidden-lg.block-calc(@click='switchPage(2)')
    .circle-progress
    .calc
      | {{ totCredit }}
      | /
      | {{ totNeedCredit }}
    .category 總學分
  table.hidden-sm.hidden-md.hidden-lg
    tr
      td#major.block-calc(@click='showList("major")')
        .circle-progress
        .calc
          | {{ thresholdInfo.major.credit }}
          | /
          | {{ thresholdInfo.major.needCredit }}
        i.editNeed.fa.fa-fw.fa-pencil(@click='editNeedCredit("必修", $event)')
        .category 必修
      td#elective.block-calc(@click='showList("elective")')
        .circle-progress
        .calc
          | {{ thresholdInfo.elective.credit }}
          | /
          | {{ thresholdInfo.elective.needCredit }}
        i.editNeed.fa.fa-fw.fa-pencil(@click='editNeedCredit("選修", $event)')
        .category 選修
    tr
      td#general.block-calc(@click='showList("general")')
        .circle-progress
        .calc
          | {{ thresholdInfo.general.credit }}
          | /
          | {{ thresholdInfo.general.needCredit }}
        .category 通識
        i.editNeed.fa.fa-fw.fa-pencil(@click='editNeedCredit("通識", $event)')
      td#sport.block-calc(@click='showList("sport")')
        .circle-progress
        .calc
          | {{ thresholdInfo.sport.credit }}
          | /
          | {{ thresholdInfo.sport.needCredit }}
        .category 體育
  #other.col-xs-12.hidden-sm.hidden-md.hidden-lg.block-calc(@click='showList("other")')
    .col-xs-7 其他課程
    .col-xs-5
      p
        | {{ thresholdInfo.other.credit }}
        | 學分
  #service.col-xs-12.hidden-sm.hidden-md.hidden-lg.block-calc
    .col-xs-7 服務學習
    .col-xs-5
      p {{ serviceGap }}
  #english.col-xs-12.hidden-sm.hidden-md.hidden-lg.block-calc
    .col-xs-7 英文能力檢定
    .col-xs-5
      p {{ englishGap }}
