footer
  ul
    li(:class='{ active: activePage === 1 }', @click='switchPage(1)')
      p
        i.fa.fa-fw.fa-pie-chart
      p 學分統計
    li(:class='{ active: activePage === 2 }', @click='switchPage(2)')
      p
        i.fa.fa-fw.fa-list
      p 學分列表
    li(:class='{ active: activePage === 3 }', @click='switchPage(4)')
      p
        i.fa.fa-fw.fa-user-circle
      p 帳戶設定