extends layout
block style
  link(rel='stylesheet', href='./styles/loading.css')
  link(rel='stylesheet', href='./styles/login.css')
  link(rel='stylesheet', href='./styles/main.css')
block content
  #app(v-cloak)
    include ./nav.pug

    include ./loading.pug
    include ./login.pug
    include ./creditCalc.pug
    include ./creditList.pug
    include ./timetable.pug
    include ./profile.pug
    include ./subjectList.pug
    
    include ./modal.pug

    include ./footer.pug

block append js
  script(src='./js/main.js')