doctype html
html
  head
    title 學分計算機
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='author', content='Sakamoto')
    meta(property='og:title', content='學分計算機')
    meta(property='og:url',  content='https://calc.hsingpicking.tk/')
    meta(property='og:description', content='為中興大學大學部學生設計的學分計算機，可以簡單的看自己目前已修習學分。')
    meta(property='og:type', content='website')
    meta(property='fb:app_id', content='335979700170666')
    meta(property='og:image', content='https://calc.hsingpicking.tk/img/calc-sm.png')
    meta(property='og:image', content='https://calc.hsingpicking.tk/img/calc-md.png')
    meta(property='og:image', content='https://calc.hsingpicking.tk/img/calc-lg.png')
    link(rel='shortcut icon' type='image/x-icon' href='./img/icon.png')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css')
    link(rel='stylesheet', href='https://rawgit.com/pguso/jquery-plugin-circliful/1.0.2/css/jquery.circliful.css')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/6.6.5/sweetalert2.min.css')
    block style
  body
    block content
    
    script(src='cordova.js')
    script(src='./js/libs/jquery-2.2.4.min.js')
    script(src='./js/libs/lodash.min.js')
    script(src='./js/libs/ga.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/vue/2.2.6/vue.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js')
    script(src='https://rawgit.com/pguso/jquery-plugin-circliful/1.0.2/js/jquery.circliful.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/6.6.5/sweetalert2.min.js')
    block js
