#editNeedCrredit.modal.fade(tabindex='-1')
  .modal-dialog
    .modal-content
      .modal-header
        button.close(type='button', data-dismiss='modal', aria-label='Close')
          span(aria-hidden='true') &times;
        h4.modal-title 修改畢業學分
      .modal-body
        
      .modal-footer
        button.btn.btn-primary(type='button') Save