nav#mobileNav
  header
    h1 {{ navTitle }}
nav#webNav
  ul
    li(@click='showLogoutMsg')
      p 
        i.fa.fa-fw.fa-sign-out(aria-hidden='true')
        | 登出
    li(@click='showDownload')
      p
        i.fa.fa-fw.fa-android(aria-hidden='true')
        | Android版本
    li(@click='showAbout')
      p
        i.fa.fa-fw.fa-info-circle(aria-hidden='true')
        | 說明
    li(@click='saveMoveSol')
      p
        i.fa.fa-fw.fa-floppy-o(aria-hidden='true')
        | 儲存內容
