#profile.mainPage.container(v-if='activePage == 4')
  ul
    li
      .list-text 姓名
      .list-info
        p {{ studentName }}
    li
      .list-text 學號
      .list-info
        p {{ studentId }}
    li
      .list-text 科系
      .list-info
        p {{ studentDept }}

  button.save(@click='saveMoveSol') 儲存內容
  button.login(@click='showLogoutMsg') 登出