#subjectList.mainPage.container(v-if='activePage == 5')
  .subjectInfo
    h3.subjectTitle {{ subjectTitle }}
    h3.subjectList
      | {{ subjectList.credit }}
      | /
      | {{ subjectList.needCredit }}
  ul
    li(v-for='(courseData, key) in subjectList.course', v-bind:class='{ notpass: courseData["成績"] < 60 }')
      .list-text
          p.title {{ courseData['課程名稱'] }}
          p.subject
            span(v-if='courseData["課程分類"] !== ""') {{ courseData["課程分類"] }}
            span(v-if='courseData["課程分類"] === "" && courseData["課程別"] !== "必"') 必修
            span(v-if='courseData["課程分類"] === "" && courseData["課程別"] !== "選"') 選修
      .list-credit
        p.credit {{ courseData['畢業學分'] }}
      .list-icon(@click='getCourseInfo(courseData)')
        p.fa.fa-search
      .list-setting(@click='showCourseSetting(courseData["課程名稱"], courseData["選課號碼"])')
        p.fa.fa-fw.fa-cog