body,
#app {
  width: 100vw;
  position: relative;
  background-color: #f5f6f7;
}
.mainPage {
  height: 100%;
  width: 100%;
  margin: 50px 0;
}
h2 {
  font-size: 1.5em;
}
h3 {
  font-size: 1.2em;
  margin: 0px;
}
p {
  margin: 0px;
}
[v-cloak] {
  display: none;
}
nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: fixed;
  top: 0;
  z-index: 2;
  height: 50px;
  width: 100%;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  border-bottom: 1px solid #d1d4d7;
}
nav header {
  position: relative;
}
nav header h1 {
  margin: 0px;
  font-size: 1.3em;
  text-align: center;
}
nav header #setting {
  margin-right: 5px;
  font-size: 1.3em;
  color: #888;
  position: absolute;
  top: 0;
  right: 0;
}
nav header #setting:hover,
nav header #setting:focus {
  color: #ddd;
}
footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: fixed;
  bottom: 0;
  z-index: 2;
  height: 50px;
  width: 100%;
  box-shadow: 5px 0 0 0 rgba(0, 0, 0, 0.1);
  background-color: #fff;
  border-top: 1px solid #d1d4d7;
}
footer ul {
  height: 100%;
  margin-bottom: 0px;
  padding-left: 0px;
  list-style: none;
}
footer ul li {
  float: left;
  height: 100%;
  width: 33%;
}
footer ul li.active p,
footer ul li.hover p,
footer ul li.focus p {
  color: #3498db;
}
footer ul li p {
  color: #888;
  text-align: center;
  margin-bottom: 0px;
}
footer ul li p:nth-child(1) {
  font-size: 1.5em !important;
}
@media screen and (min-width: 749px) {
  #mobileNav,
  footer {
    display: none;
  }
}
@media screen and (max-width: 750px) {
  #creditCalc.container {
    padding: 0px;
  }
  #webNav {
    display: none;
  }
}
#creditCalc table {
  width: 100%;
}
#creditCalc table td {
  padding: 0px 10px;
}
#creditCalc table .block-calc:nth-child(1) {
  border-right: 1px solid #d1d4d7;
}
#creditCalc .block-calc {
  position: relative;
  border-bottom: 1px solid #d1d4d7;
}
#creditCalc .block-calc:nth-child(1) {
  border-right: 1px solid #d1d4d7;
}
#creditCalc .block-calc .category {
  position: absolute;
  top: 5px;
  font-size: 1.3em;
}
#creditCalc .block-calc .editNeed {
  color: #888;
  font-size: 1.2em;
  position: absolute;
  top: 10px;
  right: 10px;
}
#creditCalc .block-calc .editNeed:hover,
#creditCalc .block-calc .editNeed:focus {
  color: #ddd;
}
#creditCalc #tot .calc {
  font-size: 1.8em;
}
#creditCalc .calc {
  font-size: 1.5em;
  text-align: center;
}
#creditCalc #other,
#creditCalc #service,
#creditCalc #english {
  font-size: 1.3em;
  padding: 10px 0px;
}
.circle-progress .highcharts-credits {
  display: none;
}
.circle-progress .timer {
  display: none;
}
.circle-progress svg g {
  display: none;
}
#subjectList h3 {
  font-size: 1.3em;
  padding: 10px 0px;
}
#subjectList .subjectInfo {
  display: flex;
}
#subjectList .subjectTitle,
#subjectList .subjectList {
  width: 50%;
}
#subjectList .subjectList {
  text-align: right;
}
#list ul,
#subjectList ul,
#totCourseList ul,
#courseList ul {
  height: 100%;
  padding-left: 0px;
  list-style: none;
}
#list ul li,
#subjectList ul li,
#totCourseList ul li,
#courseList ul li {
  display: flex;
  align-items: center;
  color: #888;
  padding: 5px 0px;
  border-bottom: 1px solid #d1d4d7;
}
#list ul li:first-child,
#subjectList ul li:first-child,
#totCourseList ul li:first-child,
#courseList ul li:first-child {
  border-top: 1px solid #d1d4d7;
}
#list ul li.notpass,
#subjectList ul li.notpass,
#totCourseList ul li.notpass,
#courseList ul li.notpass {
  color: #FF4545;
}
#list ul li .list-text,
#subjectList ul li .list-text,
#totCourseList ul li .list-text,
#courseList ul li .list-text {
  height: 50px;
  width: 80%;
}
#list ul li .list-credit,
#subjectList ul li .list-credit,
#totCourseList ul li .list-credit,
#courseList ul li .list-credit,
#list ul li .list-icon,
#subjectList ul li .list-icon,
#totCourseList ul li .list-icon,
#courseList ul li .list-icon,
#list ul li .list-setting,
#subjectList ul li .list-setting,
#totCourseList ul li .list-setting,
#courseList ul li .list-setting {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  width: 10%;
  border-left: 1px solid #d1d4d7;
}
#list ul li .list-icon:hover,
#subjectList ul li .list-icon:hover,
#totCourseList ul li .list-icon:hover,
#courseList ul li .list-icon:hover,
#list ul li .list-setting:hover,
#subjectList ul li .list-setting:hover,
#totCourseList ul li .list-setting:hover,
#courseList ul li .list-setting:hover {
  color: #3498db;
}
#list ul li .title,
#subjectList ul li .title,
#totCourseList ul li .title,
#courseList ul li .title {
  font-size: 1.2em;
  padding-bottom: 5px;
}
#list ul li .subject,
#subjectList ul li .subject,
#totCourseList ul li .subject,
#courseList ul li .subject {
  font-size: 1em;
}
#list ul li .title,
#subjectList ul li .title,
#totCourseList ul li .title,
#courseList ul li .title,
#list ul li .subject,
#subjectList ul li .subject,
#totCourseList ul li .subject,
#courseList ul li .subject {
  text-align: left;
}
#list ul li p,
#subjectList ul li p,
#totCourseList ul li p,
#courseList ul li p {
  text-align: center;
}
#timetable .title {
  font-size: 1.5em;
  text-align: center;
}
#timetable table {
  width: 100%;
  margin-bottom: 10px;
}
#timetable th {
  width: 19%;
}
#timetable th:first-child {
  width: 5%;
}
#timetable th,
#timetable td {
  border: 1px #666 solid;
  text-align: center;
  color: #666;
  height: 30px;
}
.courseInfo li {
  text-align: left;
}
.web-info p {
  text-align: center;
}
.yaer-title .year {
  text-align: left;
}
.creditRatio {
  text-align: right;
}
#profile button {
  border: none;
  cursor: pointer;
  border-radius: 3px;
  background: #eee;
  padding: 6px;
  width: 100%;
  color: #fff;
  display: block;
  margin: 0px auto;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2);
}
#profile button:hover {
  -webkit-transform: translateY(-3px);
  transform: translateY(-3px);
  box-shadow: 0 6px 6px 0 rgba(0, 0, 0, 0.2);
}
#profile button.login {
  background: #F49393;
}
#profile ul {
  height: 100%;
  padding-left: 0px;
  list-style: none;
}
#profile ul li {
  display: flex;
  align-items: center;
  color: #888;
  padding: 5px 0px;
  text-align: left;
  border-bottom: 1px solid #d1d4d7;
  font-size: 1.3em;
}
#profile ul li:first-child {
  border-top: 1px solid #d1d4d7;
}
#profile ul li .list-text {
  width: 60%;
}
#profile ul li .list-info {
  width: 40%;
}
#profile ul li .list-info p {
  text-align: right;
}
#profile ul li .list-icon {
  border-right: 1px solid #d1d4d7;
}
#profile ul li p {
  text-align: center;
}
#profile ul li label {
  border: 1px solid #3498db;
  color: #3498db;
}
#profile ul li .active {
  background-color: #3498db;
  color: #eee;
}
