<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns = "http://www.w3.org/ns/widgets"
    xmlns:gap = "http://phonegap.com/ns/1.0"
    id = "tw.sakamoto.nchucalc"
    versionCode = "10" 
    version = "0.2.0" >
  <name>nchu-calc</name>
  <description>
    一個可以簡易計算學分的小工具
  </description>
  <author href="http://sakamoto.com.tw" email="jd615645@gmail.com">
    sakamoto
  </author>
  <!-- current version of PhoneGap -->
  <preference name="phonegap-version" value="3.5.0" />
  <!-- 設定畫面固定為水平(landscape)、垂直(portrait) -->
  <!--<preference name="orientation" value="portrait" />-->
  <!-- 加入其它plugin設定 -->
  <platform name="android">
    <icon src="img/icon/calculation_32.png" density="ldpi" />
    <icon src="img/icon/calculation_64.png" density="mdpi" />
    <icon src="img/icon/calculation_128.png" density="hdpi" />
    <icon src="img/icon/calculation_256.png" density="xhdpi" />
  </platform>
</widget>