#webNav {
  background-color: #34495e;
  ul {
    height: 100%;
    list-style-type: none;
    overflow: hidden;

    padding: 0px 40px;
    margin-bottom: 0px;
    li {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
      font-size: 1.2em;

      padding: 5px 10px;
      float: right;
      color: #fff;
      cursor: default;
      .fa {
        padding-right: 10px;
      }
      &:hover {
        color: #3D84A8;
      }
    }
  }
}
#creditCalc #webView {
  margin-top: 10px;
  .block-calc {
    display: flex;
    background-color: #fff;
    margin-bottom: 15px;
    box-shadow: 0 0px 1px 0 rgba(0, 0, 0, 0.2), 0 1px 10px 0 rgba(0, 0, 0, 0.19);
    &:hover {
      top: -3px;
      left: -3px;
    }
  }
  .block-info {
    width: ~"calc(100% - 128px)";
    padding: 10px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    span {
      margin-left: 15px;
    }
    p {
      font-size: 1.2em;
    }
  }
  .block-title {
    margin-top: 0px;
    font-size: 1.5em;
  }
  .credit-progress {
    background-color: #bbb;
    height: 3px;
    .progressbar {
      width: 10%;
      height: 3px;
      background-color: #506777;
      -webkit-transition: width 1s;
      transition: width 1s;
    }
  }
  #totBlock, #majorBlock, #electiveBlock, #generalBlock, #sportBlock, #otherBlock {
    cursor: pointer;
  }
  .credit-block {
    font-size: 1.3em;
  }
  .block-img {
    height: 128px;
    width: 128px;
    &[type='profile'] {
      background-image: url('../img/student.png');
    }
    &[type='tot'] {
      background-image: url('../img/tot.png');
    }
    &[type='major'] {
      background-image: url('../img/major.png');
    }
    &[type='elective'] {
      background-image: url('../img/elective.png');
    }
    &[type='general'] {
      background-image: url('../img/general.png');
    }
    &[type='sport'] {
      background-image: url('../img/sport.png');
    }
    &[type='other'] {
      background-image: url('../img/other.png');
    }
    &[type='service'] {
      background-image: url('../img/service.png');
    }
    &[type='english'] {
      background-image: url('../img/english.png');
    }
  }
}

#totCourseList {
  h2 {
    margin-top: 0px;
  }
}
#about {
  p {
    font-size: 1.2em;
    margin-top: 10px;
  }
  .mail {
    color: #337ab7;
  }
  .notice {
    font-weight: bold;
  }
}
#download {
  .modal-body {
    text-align: center;
  }
  p {
    font-size: 1.2em;
  }
}
